/* .MuiOutlinedInput-root {
    height: 35px;
    font-size: 9px;
    background-color: aquamarine;
    line-height: 2px;
}

.MuiInputLabel-root
 {
    font-size: '9px';
    line-height: '1.2';
  }
.MuiSvgIcon-root {
    font-size: '1rem';
  }

.MuiPickersDay-root 
{  font-size: "9px" ;
} */
