.contenedor-titulo-seccion {
    display: flex !important;
    height: 48px !important;
    min-height: 48px !important ;
    align-items: center !important;
    outline: 1px solid #e0e0e0 !important;
    padding-left: 16px !important;
    width: 100% !important;
  }
  
.texto-seccion {
    padding-right: 4px !important;
    margin-left: 14px !important;
    font-style: inherit !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    color: black !important;
}